<p>login works!</p>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-1"><button class="btn btn-primary "><i class="fa-regular fa-chess-rook fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-chess-knight fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-chess-bishop fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-chess-queen fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-chess-king fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-chess-bishop fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-chess-knight fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-chess-rook fa-4x"></i></button></div>
        <div class="col-sm-2"></div>
    </div>
    
    <br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-1"><button class="btn btn-primary "><i class="fa-regular fa-chess-pawn fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-chess-pawn fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-chess-pawn fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-chess-pawn fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-chess-pawn fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-chess-pawn fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-chess-pawn fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-chess-pawn fa-4x"></i></button></div>
        <div class="col-sm-2"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary "><i class="fa-regular fa-square fa-4x"></i></button></div>
        <div class="col-sm-2"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-1"><button class="btn btn-primary "><i class="fa-regular fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-square fa-4x"></i></button></div>
        <div class="col-sm-2"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary "><i class="fa-regular fa-square fa-4x"></i></button></div>
        <div class="col-sm-2"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-1"><button class="btn btn-primary "><i class="fa-regular fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-square fa-4x"></i></button></div>
        <div class="col-sm-2"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-1"><button class="btn btn-primary "><i class="fa-solid fa-chess-pawn fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-chess-pawn fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-chess-pawn fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-chess-pawn fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-chess-pawn fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-chess-pawn fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-chess-pawn fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-chess-pawn fa-4x"></i></button></div>
        <div class="col-sm-2"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-1"><button class="btn btn-primary "><i class="fa-solid fa-chess-rook fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-chess-knight fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-chess-bishop fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-chess-queen fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-chess-king fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-chess-bishop fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-chess-knight fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-chess-rook fa-4x"></i></button></div>
        <div class="col-sm-2"></div>
    </div>
    <br>

    <button class="btn btn-success">Aceptar</button>