<p>login works!</p>

<button class="btn btn-primary" style="font-size: 20px;">
    <i class="fa-brands fa-twitter" style="padding: 5px;"> </i> 
    <i class="fa-solid fa-envelope"></i> 
    <i class="fa-solid fa-key"></i>
    <i class="fa-solid fa-user"></i>
    <i class="fa-solid fa-phone-flip"></i>
    <i class="fa-solid fa-phone"></i>
    <i class="fa-solid fa-arrow-rotate-right"></i>
    <i class="fa-solid fa-book"></i>
    <i class="fa-solid fa-building-columns"></i>
    <i class="fa-solid fa-file-lines"></i>
    <i class="fa-solid fa-book-open"></i>
    <br>
    <i class="fa-solid fa-chess-rook"></i>
    <i class="fa-solid fa-chess"></i>
    <i class="fa-solid fa-chess-pawn"></i>
    <i class="fa-regular fa-chess-pawn"></i>
    <i class="fa-solid fa-chess-queen"></i>
    <i class="fa-solid fa-chess-queen"></i>
    <i class="fa-solid fa-chess-king"></i>
    <i class="fa-regular fa-chess-king"></i>
    <i class="fa-solid fa-chess-knight"></i>
    <i class="fa-regular fa-chess-knight"></i>
    <i class="fa-solid fa-chess-bishop"></i>
    <i class="fa-regular fa-chess-bishop fa-5x"></i>
    <br>



    Login</button>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-1"><button class="btn btn-primary "><i class="fa-regular fa-chess-rook fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-chess-knight fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-chess-bishop fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-chess-queen fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-chess-king fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-chess-bishop fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-chess-knight fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-chess-rook fa-4x"></i></button></div>
        <div class="col-sm-2"></div>
    </div>
    
    <br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-1"><button class="btn btn-primary "><i class="fa-regular fa-chess-pawn fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-chess-pawn fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-chess-pawn fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-chess-pawn fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-chess-pawn fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-chess-pawn fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-chess-pawn fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-chess-pawn fa-4x"></i></button></div>
        <div class="col-sm-2"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary "><i class="fa-regular fa-square fa-4x"></i></button></div>
        <div class="col-sm-2"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-1"><button class="btn btn-primary "><i class="fa-regular fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-square fa-4x"></i></button></div>
        <div class="col-sm-2"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary "><i class="fa-regular fa-square fa-4x"></i></button></div>
        <div class="col-sm-2"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-1"><button class="btn btn-primary "><i class="fa-regular fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-regular fa-square fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-square fa-4x"></i></button></div>
        <div class="col-sm-2"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-1"><button class="btn btn-primary "><i class="fa-solid fa-chess-pawn fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-chess-pawn fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-chess-pawn fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-chess-pawn fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-chess-pawn fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-chess-pawn fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-chess-pawn fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-chess-pawn fa-4x"></i></button></div>
        <div class="col-sm-2"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-1"><button class="btn btn-primary "><i class="fa-solid fa-chess-rook fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-chess-knight fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-chess-bishop fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-chess-queen fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-chess-king fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-chess-bishop fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-chess-knight fa-4x"></i></button></div>
        <div class="col-sm-1"><button class="btn btn-primary"><i class="fa-solid fa-chess-rook fa-4x"></i></button></div>
        <div class="col-sm-2"></div>
    </div>
    <br>